@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: grid;
    place-items: center;
    height: 100vh;
}

#illustration-article{
    width: 100%;
    border-radius: 10px;
}

#image-avatar{
    width: 8.5%;
}

main{
    background-color: hsl(0, 0%, 100%);
    /* display: grid;
    place-items: center; */
    height: 58vh;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    padding: 1%;
}

#yellowBox{
    background-color: hsl(47, 88%, 63%);
    width: 25%;
    display: grid;
    place-items: center;
    height: 6%;
    border-radius: 2px;
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-size: 0.65rem;
    text-align: center;
    margin:1vw 0;
}

#publishedDate{
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;

}

#hoverText{
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    margin: 4% 0;
}

#hoverText:hover{
    color: hsl(47, 88%, 63%);
}

#para{
    font-family: "Outfit", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: hsl(0, 0%, 42%);
}

#accName{
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-size: 0.6rem;
    margin: 7% 0;
    display: flex;
    align-content: center;
    align-items: center;
}

#accName > span{
    margin: 3%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}